.addUser{
    width: 50%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.65);
}

.adduserform .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.adduserform .inputGroup label{
    margin-top: 5px;
}

.adduserform .inputGroup input{
    margin-bottom: 5px auto;
}

.adduserform .inputGroup button{
    margin-top: 8px;
}
.addUser h3{
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: darkcyan;
    text-transform: uppercase;
     /* box-shadow: 1px 1px 4px rgba(0,0,0.6); */

}