
.userTable{
    width: 70%;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0.65);
}

.userTable table{
    width: 100%;
    margin: 30px;
}

.userTable table thead th{
    background-color:darkcyan;
    color: wheat;

}

.userTable table tbody td{
    padding: 10px;
    align-items: center;
}

.actionbuttons button{
    margin: 0px 10px;
}

.noData{
    margin: 10px;
    text-align: center;
}